<!-- doctorDashboard.html -->

 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Doctor Dashboard</title>

    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />

    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>

    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script th:src="@{/js/components/patientRows.js}" defer></script>

    <script type="module" th:src="@{/js/services/patientServices.js}" defer></script>
    <script type="module" th:src="@{/js/doctorDashboard.js}" defer></script>
</head>

<body onload="renderContent()">

    <div class="container">
        
        <div class="wrapper">
            
            <div id="header"></div>

            <div class="main-content">
                
                <input type="text" id="searchBar" class="searchBar" placeholder="Search Bar for custom output" />

                <div class="filter-section">
                    <button id="todayButton" class="filter-btn">Citas de Hoy</button>
                    <input type="date" id="datePicker" class="date-input" />
                </div>

                <table id="patientTable">
                    <thead>
                        <tr>
                            <th>ID del Paciente</th>
                            <th>Nombre</th>
                            <th>Teléfono</th>
                            <th>Correo Electrónico</th>
                            <th>Receta</th>
                        </tr>
                    </thead>
                    <tbody id="patientTableBody"></tbody>
                </table>

            </div> <div id="footer"></div>

        </div> </div> </body>
</html>